html {
  display: block;
  margin: 0 auto;
}

.App {
  background-color: aquamarine;
}

form {
  height: 20vh;
}

.submit--store {
  margin: 0 auto;
  padding-left: 30%;
}

.submit--store>img {
  max-width: 50vw;
  max-height: 40vw;
}